@charset "utf-8";

/****** basic ******/
html, body { height:100%; }
body { margin:0; font-family:'Noto Sans KR',sans-serif; font-weight:300; letter-spacing:-1px; }
ul, li { list-style:none; margin:0; padding:0; }
a { display:block; text-decoration:none; }

::selection { background-color:#3a3123; color:#fff; }
::-moz-selection { background-color:#3a3123; color:#fff; }
::-webkit-selection { background-color:#3a3123; color:#fff; }


/***** Mobile *****/
/**** container ****/
.container { width:100%; height:100%; position:relative; }

/*** header ***/
.container header { width:100%; height:70px; padding:0 22px; box-sizing:border-box; display:flex; justify-content:space-between; align-items:center; position:fixed; top:0; right:0; background-color:rgba(255, 86, 86, 0.5); z-index:999; transition:0.3s; }
/* .container header.up { background-color:#fff; }
.container header.active { background-color:transparent; } */

    /** menu icon **/
    .container header .wrapper-menu { width:20px; height:20px; display:flex; flex-direction:column; justify-content:space-between; cursor:pointer; transition:transform 330ms ease-out; position:relative; z-index:9999; }
    .container header .wrapper-menu.open { transform:rotate(-45deg); }
        .container header .line-menu { background-color:#000; border-radius: 50px; width:100%; height:2px; }
        .container header .line-menu.half { width:50%; }
        .container header .line-menu.start { transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right; }
        .container header .open .line-menu.start { transform:rotate(-90deg) translateX(1px); }
        .container header .line-menu.end { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left; }
        .container header .open .line-menu.end { transform:rotate(-90deg) translateX(-1px); }

        /** logo **/
        .container header h1 { width:100px; height:100%; margin:0; text-indent:-9999px; text-align:center; }
        .container header h1.active { display:none; }
        .container header h1 a { width:100%; height:100%; background:url(../images/img_logo.png) no-repeat 50% 50%; background-size:contain; }
    

/*** PC header ***/
.container #PC_header { display:none; }


/*** mobile navigation ***/
.container nav { padding:0 22px; box-sizing:border-box; width:100%; height:100%; background-color:#fcf9f5; position:fixed; top:0; left:-100%; z-index:99; }
.container nav.show { left:0; }
    .container nav ul a { color:#3a3123; }

    .container nav .gnb { padding-top:100px; box-sizing:border-box; } 
        .container nav .gnb > li:first-child ul { width:100%; display:flex; font-size:1.125em; font-weight:400; }
        .container nav .gnb > li:first-child ul li:first-child { margin-right:65px; }

        .container nav .gnb > li:nth-child(2), .container nav .gnb > li:nth-child(3), .container nav .gnb > li:nth-child(4), .container nav .gnb > li:nth-child(5) { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-size:2.3em; margin-bottom:20px; }
        .container nav .gnb > li:nth-child(2) { margin-top:60px; }
        .container nav .gnb > li:nth-child(6), .container nav .gnb > li:nth-child(7), .container nav .gnb > li:last-child { font-weight:400; font-size:1.188em; }
        .container nav .gnb > li:nth-child(6) { margin-top:60px; }
        .container nav .gnb > li:nth-child(7) { margin:20px 0; }


/*** main contents ***/
    /** banner **/
    .container #banner { width:100%; height:100%; position:relative; }
        .container #banner .banner_box { width:300%; height:100%; display:flex; }

        .container #banner .banner_box div .txt { position:relative; padding:10px 0; box-sizing:border-box; }
            .container #banner .banner_box h2, .container #banner .banner_box h3, .container #banner .banner_box p { margin:0; font-weight:normal; text-align:center; }

            .container #banner .banner_box h2 { font-size:2.1875em; font-weight:400; letter-spacing:2px; position: relative; z-index:9; }
            .container #banner .banner_box h3 { font-size:1.5625em; font-family:'TamoroScriptPersonalUseOnly','Apple SD Gothic Neo',serif; color:#c6c4b9; width:100%; position:absolute; top:25px; left:50%; transform:translateX(-50%); }
            .container #banner .banner_box div p { text-align:center; margin-top:20px; line-height:1.5; font-weight:300; color:#222; }
        
        /* first banner */
        .container #banner .banner_box .banner1 { width:33.333333%; height:100%; background:url(../images/banner1.jpg) no-repeat 70% 60%; background-size:1283px; }
            .container #banner .banner_box .banner1 .txt { top:65%; }
            .container #banner .banner_box .banner1 .txt p { padding:0 35px; box-sizing:border-box; }

        /* second banner */
        .container #banner .banner_box .banner2 { width:33.333333%; height:100%; background:url(../images/banner2.jpg) no-repeat 60% 90%; background-size:1283px; }
            .container #banner .banner_box .banner2 .txt { top:55%; }
            .container #banner .banner_box .banner2 .txt h3 { color:#edebe2; }
            .container #banner .banner_box .banner2 .txt p { padding:0 45px; box-sizing:border-box; }

        /* third banner */
        .container #banner .banner_box .banner3 { width:33.333333%; height:100%; background:url(../images/banner3.jpg) no-repeat 70% 100%; background-size:1283px; }
            .container #banner .banner_box .banner3 .txt { top:15%; }
            .container #banner .banner_box .banner3 .txt h3 { font-size:1.6875em; }
            .container #banner .banner_box .banner3 .txt p { padding:0 55px; box-sizing:border-box; }

        /** scroll notification **/
        .container #banner img { width:18px; position:absolute; bottom:35px; left:50%; z-index:9; animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite; cursor:pointer; }

        @keyframes nudgeMouse {
            0% { transform:translateX(-50%) translateY(0); }
            45% { transform:translateX(-50%) translateY(16px); }
            65%, 100% { transform:translateX(-50%) translateY(0); }
        }

/*** scroll top ***/
.container #scroll_btn { width:45px; height:45px; background:#ceb8a1 url(../images/scroll_up.svg) no-repeat 50% 50%; background-size:18px; border-radius:50%; position:fixed; bottom:-45px; right:15px; z-index:9; box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1); cursor:pointer; }


/***** Tablet *****/
@media (min-width:767px) {
    /*** main contents ***/
        /** banner **/
        .container #banner .banner_box div .txt { top:40%; }

        /* first banner */
        .container #banner .banner_box .banner1 { background:url(../images/banner1.jpg) no-repeat 100% 48%; background-size:2200px; }
            .container #banner .banner_box .banner1 .txt { width:50%; left:49%; }
            .container #banner .banner_box .banner1 .txt h2 { font-size:2.5em; }
            .container #banner .banner_box .banner1 .txt h3 { width:100%; font-size:1.5em; }
            .container #banner .banner_box .banner1 .txt p { padding:0 35px; }
        
        /* second banner */
        .container #banner .banner_box .banner2 { background-size:cover; }
        .container #banner .banner_box .banner2 .txt { width:60%; top:13%; }
            .container #banner .banner_box .banner2 .txt h2 { font-size:2.5em; }
            .container #banner .banner_box .banner2 .txt h3 { width:100%; font-size:1.8em; color:#c6c4b9; }
            .container #banner .banner_box .banner2 .txt p { padding:0 70px; }

        /* third banner */
        .container #banner .banner_box .banner3 { background-size:cover; }
            .container #banner .banner_box .banner3 .txt { top:23%; transform:translateY(-50%);}
            .container #banner .banner_box .banner3 .txt h2 { font-size:2.5em; }
            .container #banner .banner_box .banner3 .txt h3 { width:100%; font-size:2em; color:#c6c4b9; }
            .container #banner .banner_box .banner3 .txt p { padding:0 70px; }

        .container #banner img { width:24px; }


        /** about **/
            /* about 1 */
            .container #main #about .about1 .img { width:70%; height:350px; background:url(../images/description1.jpg) no-repeat 30% 60%; background-size:cover; }

            /* about 2 */
            .container #main #about .about2 .img { width:50%; height:400px; background:url(../images/description2.jpg) no-repeat 50% 50%; background-size:cover; }

            /* about 3 */
            .container #main #about .about3 .img { width:65%; height:330px; background:url(../images/description3.jpg) no-repeat 30% 77%; background-size:cover; }


        /*** sub banner ***/
        .container #main #sub_banner { background-size:cover; }
            .container #main #sub_banner .box { width:85%; left:50%; transform:translateX(-50%); }
            
        /*** more contents ***/
        .container #main #sub_contents { display:flex; justify-content:space-around; align-items:center; }
            .container #main #sub_contents .content1, .container #main #sub_contents .content2 { margin:0; }
}



/***** PC *****/
@media (min-width:1280px) {
    /*** mobile header ***/
    .container header { display:none; }


    /*** PC header ***/
    .container #PC_header { padding:0 30px; box-sizing:border-box; width:85%; height:70px; background-color:#fff; box-shadow:0 0 10px rgba(0, 0, 0, 0.1); display:flex; justify-content:space-between; align-items:center; position:fixed; top:25px; left:50%; transform:translateX(-50%); z-index:999; transition:0.5s; }
    .container #PC_header.up { width:100%; top:0; background-color:rgba(255, 255, 255, 0.9); height:70px; font-size:0.9em; box-shadow:none; padding:0 250px; }
        .container #PC_header > ul { height:70px; display:flex; color:#2d2d2d; }
        .container #PC_header.up > ul { height:70px; }
        .container #PC_header > ul > li { height:70px; line-height:70px; cursor:pointer; transition:0.2s; }
        .container #PC_header.up > ul > li { text-align:center; width:120px; height:70px; line-height:70px; }

        .container #PC_header .menu1 > li { text-align:center; width:120px; }
        .container #PC_header .menu1 > li:first-child:hover { color:#d39d67; }
        .container #PC_header .menu1 > li ul li a { color:#2d2d2d; }
        .container #PC_header .menu1 > li:hover ul li a { color:#2d2d2d; }

        .container #PC_header .menu1 > li a { color:inherit; }
        .container #PC_header .menu1 > li:first-child { position:relative; }
        .container #PC_header .menu1 ul { position:absolute; top:85px; width:120px; list-style:none; background-color:#fff; box-shadow:0 0 10px rgba(0, 0, 0, 0.1);  }
        .container #PC_header .menu1 ul li { transition:0.2s; }
        .container #PC_header .menu1 ul li:hover { background-color:#d39d671e; }
        .container #PC_header.up .menu1 ul { background-color:rgba(255, 255, 255, 0.9); box-shadow:none; }

        .container #PC_header .menu2 > li { text-align:center; width:120px; }
        .container #PC_header .menu2 > li:last-child { width:100px; height:100%; display:flex; }
        .container #PC_header.up .menu2 > li:last-child { width:100px; height:100%; display:flex; }
        .container #PC_header .menu2 > li a { display:flex; align-items:center; justify-content:center; width:100%; height:100%; margin:auto 0; }
        .container #PC_header .menu2 > li a img { width:25px; height:25px; }

        .container #PC_header h1 { margin:0; width:188px; height:100%; position:absolute; right:50%; transform:translateX(50%); }
        .container #PC_header.up h1 { width:170px; }
        .container #PC_header h1 a { width:100%; height:100%; padding:10px 0; box-sizing:border-box; text-indent:-9999px; background:url(../images/logo.svg) no-repeat 50% 50%; background-size:120px; }
        .container #PC_header.up h1 a { padding:20px 0; background-size:100px; }

    
    /** search **/
    .container #search_box { width:85%; height:0px; top:100px; right:7.5%; box-shadow:0 0 10px rgba(0, 0, 0, 0.1); transition:0.5s; padding:0; overflow:hidden; }
    .container #search_box.act { width:73%; top:85px; right:50%; transform:translateX(50%); box-shadow:none; }
        .container #search_box p { text-align:center; margin:30px 0; }
        .container #search_box .box { width:60%; margin:0 auto 40px; }
        .container #search_box .box input { width:90%; background:url(../images/search.svg) no-repeat 1% 50%;background-size:20px; text-indent:45px; }
        .container #search_box .box .txt { width:10%; }


    /*** main contents ***/
        /** banner **/
        .container #banner .banner_box h3 { top:30px; }
        .container #banner .banner_box div .txt p { line-height:1.7;  }

        /* first banner */
        .container #banner .banner_box .banner1 { background:url(../images/banner1.jpg) no-repeat 0% 48%; background-size:2000px; }
            .container #banner .banner_box .banner1 .txt { width:50%; top:42%; left:0; }
            .container #banner .banner_box .banner1 .txt h2 { font-size:3.7em; }
            .container #banner .banner_box .banner1 .txt h3 { font-size:3em; }
            .container #banner .banner_box .banner1 .txt p { font-size:1.25em; margin-top:70px; padding:0 29%; text-align:left; }

        /* second banner */
        .container #banner .banner_box .banner2 { background:url(../images/banner2.jpg) no-repeat 40% 70%; }
            .container #banner .banner_box .banner2 .txt { width:50%; top:41%; left:-3%; }
            .container #banner .banner_box .banner2 .txt h2 { font-size:3.7em; }
            .container #banner .banner_box .banner2 .txt h3 { font-size:3em; }
            .container #banner .banner_box .banner2 .txt p { font-size:1.25em; margin-top:70px; padding:0 31%; text-align:left; }
        
        /* third banner */
        .container #banner .banner_box .banner3 { background:url(../images/banner3.jpg) no-repeat 80% 40%; background-size:2400px; }
            .container #banner .banner_box .banner3 .txt { width:50%; top:55%; left:0; }
            .container #banner .banner_box .banner3 .txt h2 { font-size:3.7em; }
            .container #banner .banner_box .banner3 .txt h3 { font-size:3em; }
            .container #banner .banner_box .banner3 .txt p { font-size:1.25em; margin-top:70px; padding:0 40% 0 25%; text-align:left; }

    
        /** best seller **/
        .container #main #best_seller { padding:110px 300px; }
        .container #main #best_seller h2 { font-size:3.2em; }

            /** product info **/
            .container #main #best_seller .products { width:100%; justify-content:space-around; padding:100px 0 110px; }
            .container #main #best_seller .products h3 { font-size:1.5em; margin-bottom:40px; } 
            .container #main #best_seller .products p { font-size:1.2em; }

            .container #main #best_seller .products > div.link { background:url(../images/view_product.svg) 87% 57% no-repeat; background-size:100px; }
            .container #main #best_seller .products > div a { cursor:pointer; }
            
                /* product 1 */
                .container #main #best_seller .products .product1 a { width:100%; height:450px; margin:0 auto; background:url(../images/best_seller1.png) no-repeat 50% 50%; background-size:cover; }

                /* product 2 */
                .container #main #best_seller .products .product2 a { width:100%; height:450px; margin:0 auto; background:url(../images/best_seller2.png) no-repeat 50% 50%; background-size:cover; }

                /* product 3 */
                .container #main #best_seller .products .product3 a { width:100%; height:450px; margin:0 auto; background:url(../images/best_seller3.png) no-repeat 50% 50%; background-size:500px; }

        /** prev, next btn **/
        .container #main #best_seller .swiper-button-next, .container #main #best_seller .swiper-button-prev { display:none; }

        /** view more **/
        .container #main #best_seller .view_more a { width:280px; height:63px; margin:0 auto; border:1px solid #89866d; font-size:1.2em; transition:0.1s; }
        .container #main #best_seller .view_more a:hover, .container #main #best_seller .view_more a:active { background-color:#89866d; color:#fff; }

    /*** about ***/
    .container #main #about { padding:340px 0; }
        .container #main #about > div { width:100%; }
        .container #main #about > div .txt { width:50%; }
        .container #main #about > div p:first-of-type { font-size:9em; }
        .container #main #about > div h2 { margin-top:-150px; font-size:3.5em; }
        .container #main #about > div p:last-of-type { font-size:1.3em; padding:50px 0; }

            /* about 1 */
            .container #main #about .about1 { flex-direction:row; align-items:center; }
            .container #main #about .about1 .txt { padding-left:13%; box-sizing:border-box; }
            .container #main #about .about1 .txt p:first-of-type { margin:0; }
            .container #main #about .about1 .img { width:48%; height:515px; margin-left:auto; background:url(../images/description1.jpg) no-repeat 30% 70%; background-size:cover; }

            /* about 2 */
            .container #main #about .about2 { margin:300px 0;  flex-direction:row; align-items:center; }
            .container #main #about .about2 .txt { width:55%; padding:0 13%; box-sizing:border-box; order:2; }
            .container #main #about .about2 .txt p:first-of-type { padding:0; }
            .container #main #about .about2 .img { width:32%; height:630px; order:1; position:relative; z-index:9; }
            
            /* about 3 */
            .container #main #about .about3 { flex-direction:row; align-items:center; }
            .container #main #about .about3 .txt { padding:0 13%; box-sizing:border-box; }
            .container #main #about .about3 .txt p:first-of-type { margin:0; }
            .container #main #about .about3 .img { width:45%; height:570px; }

        /* background circles */
        .container #main #about .circle1 { width:1330px; height:1330px; position:absolute; top:-350px; right:-350px; z-index:1; }
        .container #main #about .circle2 { width:890px; height:890px; position:absolute; top:1300px; left:-100px; z-index:1; }
        .container #main #about .circle3 { width:600px; height:600px; position:absolute; bottom:-150px; right:600px; z-index:1; }


    /** new arrivals **/
    .container #main #new_arrivals { padding:110px 300px; }
        .container #main #new_arrivals h2 { font-size:3.2em; }

        /** product info **/
        .container #main #new_arrivals .products { width:100%; justify-content:space-around; padding:100px 0 110px; }
        .container #main #new_arrivals .products h3 { font-size:1.5em; margin-bottom:40px; } 
        .container #main #new_arrivals .products p { font-size:1.2em; }

        .container #main #new_arrivals .products > div.link { background:url(../images/view_product.svg) 87% 57% no-repeat; background-size:100px; }
        .container #main #new_arrivals .products > div a { cursor:pointer; }

            /* product 1 */
            .container #main #new_arrivals .products .product1 a { width:100%; height:450px; margin:0 auto; background:url(../images/daily_set1.png) no-repeat 50% 50%; background-size:350px; }
            .container #main #new_arrivals .products .product1.link { background:url(../images/view_product.svg) 100% 57% no-repeat; background-size:100px; }

            /* product 2 */
            .container #main #new_arrivals .products .product2 a { width:100%; height:450px; margin:0 auto; background:url(../images/new2.png) no-repeat 50% 50%; background-size:230px; }

            /* product 3 */
            .container #main #new_arrivals .products .product3 a { width:100%; height:450px; margin:0 auto; background:url(../images/new3.png) no-repeat 50% 50%; background-size:230px; }
            .container #main #new_arrivals .products .product3.link { background:url(../images/view_product.svg) 83% 57% no-repeat; background-size:100px; }

        /** prev, next btn **/
        .container #main #new_arrivals .swiper-button-next, .container #main #new_arrivals .swiper-button-prev { display:none; }

        /** view more **/
        .container #main #new_arrivals .view_more a { width:280px; height:63px; margin:0 auto; border:1px solid #89866d; font-size:1.2em; transition:0.1s; }
        .container #main #new_arrivals .view_more a:hover, .container #main #new_arrivals .view_more a:active { background-color:#89866d; color:#fff; }


    /*** sub banner ***/
    .container #main #sub_banner { height:490px; }
        .container #main #sub_banner .box { width:60%; }
        .container #main #sub_banner .box h2 { font-size:3.5em; }
        .container #main #sub_banner .box p { margin:30px 0 0; text-align:center; font-size:1.3em; }


    /*** more contents ***/
    .container #main #sub_contents { justify-content:center; padding:200px 0; }
        .container #main #sub_contents a { width:670px; height:380px; padding:50px; cursor:initial; }
            .container #main #sub_contents a .txt h3 { font-size:1.4em; padding-right:5%; }
        .container #main #sub_contents a .txt p { font-size:1.1em; margin-top:20px; }
        .container #main #sub_contents a .txt .btn { width:182px; margin-top:45px; padding:13px 0; display:block; text-decoration:none; text-align:center; color:#89866d; border:1px solid #89866d; transition:0.2s; cursor:pointer; }
        .container #main #sub_contents a .txt .btn:hover, .container #main #sub_contents a .txt .btn:hover { background-color:#89866d; color:#fff; }

        .container #main #sub_contents .content1 { margin-right:45px; background-size:cover; display:flex; align-items:center; }
        .container #main #sub_contents .content2 { margin-left:45px; background-size:cover; display:flex; align-items:center; }


    /*** scroll top ***/
    .container #scroll_btn { width:55px; height:55px; bottom:-60px; right:30px; }


    /*** footer ***/
    .container footer { padding:50px 0; box-sizing:border-box; font-size:0.9em; }
        .container footer p { text-align:center; }
        .container footer p:first-of-type { font-size:1.75em; }
        .container footer p:nth-of-type(3) { margin-top:0; }
        .container footer p:nth-of-type(4) { margin:0; }
        .container footer p:nth-of-type(5) { display:none; }
        .container footer .hidden { display:block; margin:0; }

        .container footer ul { margin:5px 0; justify-content:center; }
            .container footer ul:last-of-type { margin:15px 0; }
        .container footer ul li a { letter-spacing:1px; }
        .container footer ul li a:hover { color:#cccbaa; }
        .container footer ul li::after { margin:0 20px; }
}